/* SEARCH BAR */
.search-input {
  margin-top: 28px;
  width: 360px;
  padding: 16px 26px;
  border-radius: 50px;

  background: rgba(8, 18, 45, 0.75);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  color: white;
  font-size: 15px;
  text-align: center;
  outline: none;

  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.05),
    0 0 20px rgba(40, 90, 160, 0.6);

  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: #9aa3c7;
}

.search-input:focus {
  transform: scale(1.06);

  box-shadow:
    inset 0 0 14px rgba(255, 255, 255, 0.08),
    0 0 35px rgba(60, 120, 220, 0.9);
}
